<section class="about-section" id="about" #aboutSection [class.show]="isVisible">

    <span class="xml-hint">&lt;section id="about"&gt;</span>

    <div class="about-container">

        <div class="about-image-wrap">
            <img src="assets/images/profile.jpg" alt="Sherifaa" class="about-img" />
            <div class="img-status">STATUS: READY_TO_CODE</div>
        </div>

        <div class="about-content">

            <h2 class="about-title">
                <span class="about-num">01.</span> About_Me.md
            </h2>

            <p class="about-text">
                <span class="dollar">$</span>
                Hi! I'm Sherifaa, a passionate Front-End Developer with a strong focus on Angular and modern web
                technologies.
            </p>

            <p class="about-text">
                <span class="dollar">$</span>
                I enjoy transforming ideas into clean, responsive, and interactive user interfaces while continuously
                learning and
                improving my skills.
            </p>

            <div class="about-code-card">
                <pre><span class="comment">// CURRENT_MISSION:</span>
<span class="comment">// Learning, building, and growing every day.
// Turning ideas into real-world experiences.</span></pre>
            </div>

        </div>

    </div>

    <span class="xml-hint xml-close">&lt;/section&gt;</span>
</section>