<div class="hero-wrap">
    <span class="xml-hint">&lt;main&gt;</span>

        <main class="hero-content">
            <div class="terminal-line">
                <span class="arrow">&gt;</span> root&#64;sherifa:~$ <span>whoami</span>
            </div>
            <div class="divider"></div>

            <h1 class="hero-title">Hi, I'm <span>Sherifa</span></h1>

            <div class="code-card">
                <pre>const developer = &#123;
          role: <span class="value">"Front-End Developer"</span>,
          specialty: <span class="value">"Angular &amp; TypeScript"</span>,
          status: <span class="value">"READY_TO_CODE"</span>
        &#125;;</pre>
            </div>

<a href="Sherifa_Mahmoud_AbuObia.pdf" download="Sherifa-Aboobia-CV.pdf" class="cta-btn">
    DOWNLOAD_CV.pdf ↓
</a>      </main>


    <span class="xml-hint xml-close">&lt;/main&gt;</span>
</div>