html,
body {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.xml-hint {
  color: rgba(128, 128, 128, 0.886);
  font-size: 12px;
  font-family: 'JetBrains Mono', monospace;
  display: block;
  margin-bottom: 42px;
  padding-left: 40px;

}


.xml-close {
  display: block;
  padding-left: 42px;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.886);

}
:root {

  --anim-threshold: 0.1s; 
    --anim-duration: 0.7s;
  --anim-ease: cubic-bezier(0.22, 1, 0.36, 1);
}
